In [360]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split

In [361]:
data = pd.read_excel("HMW2.xlsx",sheetname=2)
data.head()

,attrition,age,BusinessTravel,DailyRate,Department,distance,Education,EnvironmentSatisfaction,Gender,HourlyRate,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,meduim,0,1102,Sales,0,2,2,0,94,...,3,1,0,8,0,1,6,4,0,5
1,0,meduim,1,279,Research & Development,0,1,3,1,61,...,4,4,1,10,3,3,10,7,1,7
2,1,low,0,1373,Research & Development,0,2,4,1,92,...,3,2,0,7,3,3,0,0,0,0
3,0,low,1,1392,Research & Development,0,4,4,0,56,...,3,3,0,8,3,3,8,7,3,0
4,0,low,0,591,Research & Development,0,1,1,1,40,...,3,4,1,6,3,3,2,2,2,2

In [362]:
#converting age into categories
data["age"] = data["age"].astype('category').cat.reorder_categories(['low', 'meduim', 'high']).cat.codes
data.head()

,attrition,age,BusinessTravel,DailyRate,Department,distance,Education,EnvironmentSatisfaction,Gender,HourlyRate,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,1,0,1102,Sales,0,2,2,0,94,...,3,1,0,8,0,1,6,4,0,5
1,0,1,1,279,Research & Development,0,1,3,1,61,...,4,4,1,10,3,3,10,7,1,7
2,1,0,0,1373,Research & Development,0,2,4,1,92,...,3,2,0,7,3,3,0,0,0,0
3,0,0,1,1392,Research & Development,0,4,4,0,56,...,3,3,0,8,3,3,8,7,3,0
4,0,0,0,591,Research & Development,0,1,1,1,40,...,3,4,1,6,3,3,2,2,2,2

In [363]:
#converting monthly income into categories
data["MonthlyIncome"] = data["MonthlyIncome"].astype('category').cat.reorder_categories(['low', 'medium', 'high']).cat.codes
data.head()

,attrition,age,BusinessTravel,DailyRate,Department,distance,Education,EnvironmentSatisfaction,Gender,HourlyRate,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,1,0,1102,Sales,0,2,2,0,94,...,3,1,0,8,0,1,6,4,0,5
1,0,1,1,279,Research & Development,0,1,3,1,61,...,4,4,1,10,3,3,10,7,1,7
2,1,0,0,1373,Research & Development,0,2,4,1,92,...,3,2,0,7,3,3,0,0,0,0
3,0,0,1,1392,Research & Development,0,4,4,0,56,...,3,3,0,8,3,3,8,7,3,0
4,0,0,0,591,Research & Development,0,1,1,1,40,...,3,4,1,6,3,3,2,2,2,2

In [364]:
deprt = pd.get_dummies(data["Department"])
deprt.head()

   Human Resources  Research & Development  Sales
0                0                       0      1
1                0                       1      0
2                0                       1      0
3                0                       1      0
4                0                       1      0

In [365]:
# dropping the dapertment
data = data.drop(["Department"],axis=1)
data.head()

,attrition,age,BusinessTravel,DailyRate,distance,Education,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,1,0,1102,0,2,2,0,94,3,...,3,1,0,8,0,1,6,4,0,5
1,0,1,1,279,0,1,3,1,61,2,...,4,4,1,10,3,3,10,7,1,7
2,1,0,0,1373,0,2,4,1,92,2,...,3,2,0,7,3,3,0,0,0,0
3,0,0,1,1392,0,4,4,0,56,3,...,3,3,0,8,3,3,8,7,3,0
4,0,0,0,591,0,1,1,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [366]:
#adding department dummies to the dataframe
data = data.join(deprt)
data.head()

,attrition,age,BusinessTravel,DailyRate,distance,Education,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,...,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Human Resources,Research & Development,Sales
0,1,1,0,1102,0,2,2,0,94,3,...,8,0,1,6,4,0,5,0,0,1
1,0,1,1,279,0,1,3,1,61,2,...,10,3,3,10,7,1,7,0,1,0
2,1,0,0,1373,0,2,4,1,92,2,...,7,3,3,0,0,0,0,0,1,0
3,0,0,1,1392,0,4,4,0,56,3,...,8,3,3,8,7,3,0,0,1,0
4,0,0,0,591,0,1,1,1,40,3,...,6,3,3,2,2,2,2,0,1,0

In [367]:
# this show that there is no null 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 31 columns):
attrition                   1470 non-null int64
age                         1470 non-null int8
BusinessTravel              1470 non-null int64
DailyRate                   1470 non-null int64
distance                    1470 non-null int64
Education                   1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null int64
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobSatisfaction             1470 non-null int64
marital status              1470 non-null int64
MonthlyIncome               1470 non-null int8
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
OverTime                    1470 non-null int64
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
Human Resources             1470 non-null uint8
Research & Development      1470 non-null uint8
Sales                       1470 non-null uint8
dtypes: int64(26), int8(2), uint8(3)
memory usage: 305.8 KB

In [368]:
data["attrition"].value_counts()/len(data)*100

0    83.877551
1    16.122449
Name: attrition, dtype: float64

In [369]:
data.corr()

,attrition,age,BusinessTravel,DailyRate,distance,Education,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,...,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Human Resources,Research & Development,Sales
attrition,1.000000,-0.107607,0.115143,-0.056652,0.071471,-0.031373,-0.103369,0.029453,-0.006846,-0.130016,...,-0.171063,-0.059478,-0.063939,-0.134392,-0.160545,-0.033019,-0.156199,0.016832,-0.085293,0.080855
age,-0.107607,1.000000,-0.025423,0.010110,-0.017636,0.102953,-0.005906,-0.020800,0.027167,0.034204,...,0.573057,0.007679,0.005583,0.277309,0.157232,0.208250,0.157487,0.017774,0.020321,-0.028861
BusinessTravel,0.115143,-0.025423,1.000000,-0.011776,0.014960,-0.008292,-0.012624,-0.022015,-0.018819,0.004424,...,-0.012177,0.006193,0.010199,0.012991,0.001680,0.023216,0.012628,-0.007485,0.003340,-0.000160
DailyRate,-0.056652,0.010110,-0.011776,1.000000,0.011747,-0.016806,0.018355,-0.011716,0.023381,0.046135,...,0.014515,0.002453,-0.037848,-0.034055,0.009932,-0.033229,-0.026363,-0.026726,0.014871,-0.003616
distance,0.071471,-0.017636,0.014960,0.011747,1.000000,0.030651,0.018752,-0.023136,0.036369,0.016205,...,-0.024805,-0.025986,-0.014943,-0.002851,0.002932,-0.001544,-0.010033,-0.011992,-0.019305,0.025262
Education,-0.031373,0.102953,-0.008292,-0.016806,0.030651,1.000000,-0.027128,-0.016547,0.016775,0.042438,...,0.148280,-0.025100,0.009819,0.069114,0.060236,0.054254,0.069065,0.011435,-0.018604,0.014215
EnvironmentSatisfaction,-0.103369,-0.005906,-0.012624,0.018355,0.018752,-0.027128,1.000000,0.000508,-0.049857,-0.008278,...,-0.002693,-0.019359,0.027627,0.001458,0.018007,0.016194,-0.004999,-0.007597,0.027976,-0.025606
Gender,0.029453,-0.020800,-0.022015,-0.011716,-0.023136,-0.016547,0.000508,1.000000,-0.000478,0.017960,...,-0.046881,-0.038787,-0.002753,-0.029747,-0.041483,-0.026985,-0.030599,0.035652,0.015760,-0.032017
HourlyRate,-0.006846,0.027167,-0.018819,0.023381,0.036369,0.016775,-0.049857,-0.000478,1.000000,0.042861,...,-0.002334,-0.008548,-0.004607,-0.019582,-0.024106,-0.026716,-0.020123,-0.016551,0.018686,-0.012047
JobInvolvement,-0.130016,0.034204,0.004424,0.046135,0.016205,0.042438,-0.008278,0.017960,0.042861,1.000000,...,-0.005533,-0.015338,-0.014617,-0.021355,0.008717,-0.024184,0.025976,0.004789,0.023187,-0.026107
JobLevel,-0.169105,0.468667,-0.021557,0.002966,0.005261,0.101589,0.001212,-0.039403,-0.027853,-0.012630,...,0.782208,-0.018191,0.037818,0.534739,0.389447,0.353885,0.375281,-0.006157,-0.107830,0.114307
JobSatisfaction,-0.103481,-0.021930,0.027117,0.030571,0.002387,-0.011296,-0.006784,0.033252,-0.071335,-0.021476,...,-0.020185,-0.005779,-0.019459,-0.003803,-0.002305,-0.018214,-0.027656,-0.024068,-0.002798,0.013499
marital status,-0.090984,0.045601,-0.030785,0.040035,0.020912,-0.001865,-0.022180,-0.007804,0.036432,0.028324,...,0.053512,-0.029602,-0.006388,0.044925,0.065488,0.054102,0.032972,0.034767,-0.019997,0.005378
MonthlyIncome,-0.108322,0.442283,-0.020347,0.005721,-0.027060,0.073878,-0.005665,-0.012982,-0.015819,-0.014480,...,0.721582,-0.012070,0.021639,0.454667,0.277166,0.318118,0.256005,0.029531,-0.001175,-0.011795
MonthlyRate,0.015170,-0.004026,0.000344,-0.032182,0.018720,-0.026084,0.037600,-0.041482,-0.015297,-0.016322,...,0.026442,0.001467,0.007963,-0.023655,-0.012815,0.001567,-0.036746,-0.024390,-0.005453,0.016388
NumCompaniesWorked,0.043494,0.254528,-0.039718,0.038153,-0.031996,0.126317,0.012594,-0.039147,0.022157,0.015012,...,0.237639,-0.066054,-0.008366,-0.118421,-0.090754,-0.036814,-0.110319,0.020618,0.022237,-0.032097
OverTime,0.246118,0.024385,0.029392,0.009135,0.044076,-0.020322,0.070132,-0.041924,-0.007782,-0.003507,...,0.012754,-0.079113,-0.027092,-0.011687,-0.029758,-0.012239,-0.041586,-0.006178,-0.003036,0.005864
PercentSalaryHike,-0.013478,0.010456,-0.006675,0.022704,0.003854,-0.011111,-0.031701,0.002733,-0.009062,-0.017205,...,-0.020608,-0.005221,-0.003280,-0.035991,-0.001520,-0.022154,-0.011985,-0.025888,0.030735,-0.020403
PerformanceRating,0.002889,0.009625,0.016463,0.000473,0.002031,-0.024539,-0.029548,-0.013859,-0.002172,-0.029071,...,0.006744,-0.015579,0.002572,0.003435,0.034986,0.017896,0.022827,-0.006385,0.032720,-0.031050
RelationshipSatisfaction,-0.045872,0.059539,0.028500,0.007846,-0.004574,-0.009118,0.007665,0.022868,0.001330,0.034297,...,0.024054,0.002497,0.019604,0.019367,-0.015123,0.033493,-0.000867,0.034583,-0.004587,-0.010489
StockOptionLevel,-0.137145,0.016625,-0.016142,0.042143,0.046979,0.018422,0.003432,0.012716,0.050263,0.021523,...,0.010136,0.011274,0.004129,0.015058,0.050818,0.014352,0.024698,-0.004000,0.016927,-0.015755
TotalWorkingYears,-0.171063,0.573057,-0.012177,0.014515,-0.024805,0.148280,-0.002693,-0.046881,-0.002334,-0.005533,...,1.000000,-0.035662,0.001008,0.628133,0.460365,0.404858,0.459188,0.007508,0.011087,-0.014781
TrainingTimesLastYear,-0.059478,0.007679,0.006193,0.002453,-0.025986,-0.025100,-0.019359,-0.038787,-0.008548,-0.015338,...,-0.035662,1.000000,0.028072,0.003569,-0.005738,-0.002067,-0.004096,-0.040022,-0.006819,0.024688
WorkLifeBalance,-0.063939,0.005583,0.010199,-0.037848,-0.014943,0.009819,0.027627,-0.002753,-0.004607,-0.014617,...,0.001008,0.028072,1.000000,0.012089,0.049856,0.008941,0.002759,0.047763,-0.069922,0.051320
YearsAtCompany,-0.134392,0.277309,0.012991,-0.034055,-0.002851,0.069114,0.001458,-0.029747,-0.019582,-0.021355,...,0.628133,0.003569,0.012089,1.000000,0.758754,0.618409,0.769212,0.007944,-0.032181,0.029805
YearsInCurrentRole,-0.160545,0.157232,0.001680,0.009932,0.002932,0.060236,0.018007,-0.041483,-0.024106,0.008717,...,0.460365,-0.005738,0.049856,0.758754,1.000000,0.548056,0.714365,-0.040287,-0.028151,0.046883
YearsSinceLastPromotion,-0.033019,0.208250,0.023216,-0.033229,-0.001544,0.054254,0.016194,-0.026985,-0.026716,-0.024184,...,0.404858,-0.002067,0.008941,0.618409,0.548056,1.000000,0.510224,-0.026931,-0.021497,0.034112
YearsWithCurrManager,-0.156199,0.157487,0.012628,-0.026363,-0.010033,0.069065,-0.004999,-0.030599,-0.020123,0.025976,...,0.459188,-0.004096,0.002759,0.769212,0.714365,0.510224,1.000000,-0.027079,-0.014963,0.027415
Human Resources,0.016832,0.017774,-0.007485,-0.026726,-0.011992,0.011435,-0.007597,0.035652,-0.016551,0.004789,...,0.007508,-0.040022,0.047763,0.007944,-0.040287,-0.026931,-0.027079,1.000000,-0.290754,-0.139650
Research & Development,-0.085293,0.020321,0.003340,0.014871,-0.019305,-0.018604,0.027976,0.015760,0.018686,0.023187,...,0.011087,-0.006819,-0.069922,-0.032181,-0.028151,-0.021497,-0.014963,-0.290754,1.000000,-0.906818
Sales,0.080855,-0.028861,-0.000160,-0.003616,0.025262,0.014215,-0.025606,-0.032017,-0.012047,-0.026107,...,-0.014781,0.024688,0.051320,0.029805,0.046883,0.034112,0.027415,-0.139650,-0.906818,1.000000

In [370]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz

In [371]:
inputs = data.iloc[:,1:]
output = data["attrition"]

In [372]:
model.fit(inputs,output)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=42, splitter='best')

In [373]:
model.score(inputs,output)*100

100.0

In [374]:
export_graphviz(model,"tree_m.dot")

In [375]:
model_1= DecisionTreeClassifier(max_depth=7)

In [376]:
train, test = train_test_split(data,train_size=0.70)

In [377]:
model_ = DecisionTreeClassifier(max_depth=7, random_state=50)

In [378]:
inputs_train,inputs_test,output_train,output_test = train_test_split(inputs,output,train_size=0.70)

In [379]:
model_.fit(inputs_train,output_train)
model_.score(inputs_test,output_test)*100

80.952380952380949

In [381]:
export_graphviz(model_,"tree_m.dot")

In [335]:
# I am curious to see dataframe with importances
df = pd.DataFrame(index=list(data)[1:],data=model.feature_importances_)
df

                                 0
age                       0.003773
BusinessTravel            0.027464
DailyRate                 0.124615
distance                  0.007872
Education                 0.025766
EnvironmentSatisfaction   0.032725
Gender                    0.000000
HourlyRate                0.084622
JobInvolvement            0.035894
JobLevel                  0.076841
JobSatisfaction           0.039412
marital status            0.005789
MonthlyIncome             0.000000
MonthlyRate               0.029765
NumCompaniesWorked        0.024403
OverTime                  0.060574
PercentSalaryHike         0.045566
PerformanceRating         0.007036
RelationshipSatisfaction  0.015944
StockOptionLevel          0.048621
TotalWorkingYears         0.094573
TrainingTimesLastYear     0.031313
WorkLifeBalance           0.027461
YearsAtCompany            0.045899
YearsInCurrentRole        0.024379
YearsSinceLastPromotion   0.031841
YearsWithCurrManager      0.012278
Human Resources           0.000000
Research & Development    0.010508
Sales                     0.025068

In [336]:
#sorted
df.sort_values(by=0, ascending=False)

                                 0
DailyRate                 0.124615
TotalWorkingYears         0.094573
HourlyRate                0.084622
JobLevel                  0.076841
OverTime                  0.060574
StockOptionLevel          0.048621
YearsAtCompany            0.045899
PercentSalaryHike         0.045566
JobSatisfaction           0.039412
JobInvolvement            0.035894
EnvironmentSatisfaction   0.032725
YearsSinceLastPromotion   0.031841
TrainingTimesLastYear     0.031313
MonthlyRate               0.029765
BusinessTravel            0.027464
WorkLifeBalance           0.027461
Education                 0.025766
Sales                     0.025068
NumCompaniesWorked        0.024403
YearsInCurrentRole        0.024379
RelationshipSatisfaction  0.015944
YearsWithCurrManager      0.012278
Research & Development    0.010508
distance                  0.007872
PerformanceRating         0.007036
marital status            0.005789
age                       0.003773
MonthlyIncome             0.000000
Gender                    0.000000
Human Resources           0.000000

In [337]:
#so it appeared that Daily rate are the most important feature, and also total working years and hourly rates, job level and overtime.